body {
  color: burlywood;
  font-family: 'Poppins', sans-serif;
}
body * {
  border-radius: 0 !important;
}

.form-container {
  background: url('../public/img/1.png');
  background-size: cover;
  background-position: center center;
}
