body {
  color: rgb(22, 15, 5);

  font-family: 'Cairo', sans-serif;
}
body * {
  border-radius: 0 !important;
}

.form-container {
  background: url('../public/img/form_bg.jpg');
  background-size: cover;
  background-position: center center;
}
a {
  color: #212529 !important;
}
a.btn-outline-dark:hover {
  color: #d5d1d1 !important;
}

.card,
.list-group-item {
  background-color: rgba(255, 255, 255, 0.5);
}
